
body{
    padding: 0;
    margin: 0;
}

* a{
    text-decoration: none
}
.user-box{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
   
}
.user-box img{
border-radius: 50%;
opacity: .9;
display: block;
/* padding: 20px; */
position: absolute;
}

.user-marker{
    width: 450px;
    height: 100px;
    background-color: #A57F60;
    /* margin-top: 30px; */
    padding: 10px;
    position: relative;
    margin:20px 20px;
    box-shadow: 5px 10px 8px #888888
}


nav{
    background-color:rgba(24, 184, 91, 0.3);
    width: 100%;
    height: 10%;
    position: sticky;


}

.addFriend {
font-weight: 70;
width: 100%;
max-width: 300px;
background-color: #DB5A42;
font-size: 1.8rem;
border-radius: 25px;
box-shadow: 5px 10px 8px #888888
}


.addFriend a{
    color: #ffffff
}
