
<nav> </nav>

<div class ="user-box">
    {{#each users}}
    <div class="user-marker">
    <img src="{{this.photo_url}}" height="90px" width="120px" />
    </div>
    {{/each}}
</div>


<div id="instafeed"></div> 